@charset "utf-8";
@import "./lcars-colors.css";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:light,regular,bold,italic&subset=latin,latin-ext');

@font-face {
	font-family: 'Antonio';
	font-weight: 400;
	src: url('../fonts/Antonio-Regular.woff2') format('woff2'),
		url('../fonts/Antonio-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Antonio';
	font-weight: 700;
	src: url('../fonts/Antonio-Bold.woff2') format('woff2'),
		url('../fonts/Antonio-Bold.woff') format('woff')
}


/*
NAV BAR AND OTHER PAGES
*/

#nav1 {
	background-color: var(--african-violet);
	border-radius: 20px 0 0 20px;
}

#nav2 {
	background-color: var(--bluey);
}

#nav3 {
	background-color: var(--bluey);
}

#nav4 {
	background-color: var(--bluey);
	border-radius: 0 20px 20px 0;
}

.basiccontentcontainer {
	margin: 2vh 2vw 2vh 2vw;
}

/* 
EDITOR PAGE
*/

#editor {
	padding-bottom: 50px;
	margin: 2vh 5vw 2vh 5vw;
	color: var(--space-white);
	font-size: 0.60rem;
}

.formpart {
	border-radius: 10px;
	margin-top: 10px;
	padding: 1vh 2vw 1vh 2vw;
}

.sectiontitle {
	font-family: 'Antonio', Arial, Helvetica, sans-serif;
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: -1;
}

.warning-box {
	border: 1px solid var(--gold);
	border-left-width: 4vw;
	border-radius: 10px;
	font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
	padding: 1vh 1vw 1vh 1vw;
	background-color: rgb(24, 21, 4);
	margin: 1vh auto 1vh;
}

.inset-box {
	border: solid var(--green) 1px;
	background-color: rgb(18, 22, 21);
	border-left-width: 4vw;
	margin: 2vh 0 2vh 0;
	padding: 1vh 1vw 1vh 1vw;
	border-radius: 10px;
}

/* 
STEP ONE: KEYS
*/

#keysetter {
	border: 1px solid var(--bluey);
	border-left: 10vw solid var(--bluey);
}

#charkey {
	border: solid white 1px;
	border-radius: 10px;
	padding: 1vh 1vw;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: 1fr;
	column-gap: 2vh;
	margin-bottom: 2vh;
}

#charkeyradio {
	grid-row: 1;
	grid-column: 1;
}

.charkeylabel {
	grid-row: 1;
	grid-column: 2;
}

.charkeyinput {
	grid-row: 1;
	grid-column: 3;
}

.combination-keys {
	display: grid;
	margin-bottom: 2vh;
}

#ctrlblock {
	grid-row: 2;
	grid-column: 1 1;
}

#shiftblock {
	grid-row: 2;
	grid-column: 2 2;
}

#altblock {
	grid-row: 2;
	grid-column: 3 3;
}

/* 
STEP TWO: COMMANDS
*/

#commandsetter {
	border: 1px solid var(--butterscotch);
	border-left: 10vw solid var(--butterscotch);
}

#currentcommandslist {
	display: grid;
	row-gap: 1vh;
	grid-template-columns: 2fr 1fr;
}

.commanddetails {
	width: 50%;
	grid-column: 1;
}

.removeitembutton {
	grid-column: 2;
}

.advanced-options {
	margin: 1vh 0 1vh 0;
}

.advanced-options label {
	margin-left: 1vw;
}

.advanced-options input {
	margin-left: 1vw;
	width: 1vw;
}

#powername {
	width: 10vw;
}

/*
STEP THREE: NAME AND SAVE
*/

#keybindnameinput {
	margin-left: 0.25rem;
}

#keybindsummary {
	border: 1px solid var(--peach);
	border-left: 10vw solid var(--peach);
}


#savedcommandtable {
	width: 100%;
	text-align: left;
}

/*
STEP FOUR: EXPORT 
*/

#exportsection {
	border: 1px solid var(--bluey);
	border-left: 10vw solid var(--bluey);
}

#finalstring {
	white-space: pre-wrap;
	background-color: #333;
	border: dotted white 1px;
	margin: 1vh 0 1vh 0;
	padding: 1vh 1vw 1vh 1vw;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}