@charset "utf-8";
@import "./lcars-colors.css";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:light,regular,bold,italic&subset=latin,latin-ext');

@font-face {
	font-family: 'Antonio';
	font-weight: 400;
	src: url('../fonts/Antonio-Regular.woff2') format('woff2'),
		url('../fonts/Antonio-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Antonio';
	font-weight: 700;
	src: url('../fonts/Antonio-Bold.woff2') format('woff2'),
		url('../fonts/Antonio-Bold.woff') format('woff')
}

.formpart {
	border-radius: 10px;
	margin-top: 10px;
	padding: 2vh 2vw 2vh 2vw;
}

#keysetter {
	display: grid;
	column-gap: 2vw;
	border: 1px solid var(--bluey);
	border-left: 10vw solid var(--bluey);
	row-gap: 2vh;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 2vh 2vw 2vh 2vw;
}

#commandsetter {
	border: 1px solid var(--butterscotch);
	border-left: 10vw solid var(--butterscotch);
}

.sectiontitle {
	font-family: 'Antonio', Arial, Helvetica, sans-serif;
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: -1;
}

#ctrlblock {
	grid-row: 2;
	grid-column: 1 1;
}

#shiftblock {
	grid-row: 2;
	grid-column: 2 2;
}

#altblock {
	grid-row: 2;
	grid-column: 3 3;
}

#keyblock {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 2vh;
	grid-row:3;
	grid-column-start: 1;
	grid-column-end: -1;
}

#charorkey-char {
	grid-row: 1;
	grid-column: 1;
}

#charorkey-key {
	grid-row: 1;
	grid-column: 2;
}

#keyblock label {
	grid-row: 2;
	grid-column: 1;
	margin: auto;
}

#keyblock input {
	grid-row: 2;
	grid-column: 2;
	width: 5vw;
}

#keyblock select {
	grid-row: 2;
	grid-column: 2;
	width: 20vw;
}

#keyconfirmation {
	grid-row: 4;
	grid-column-start: 1;
	grid-column-end: 3;
}

#keyconfirmation strong{
	font-weight: 800;
	color: var(--violet);
}

#currentcommandslist {
	display: grid;
	row-gap: 1vh;
	width: 80%;
	grid-template-columns: 2fr 1fr;
}

.commanddetails {
	width: 50%;
	grid-column: 1;
}
.removeitembutton {
	grid-column: 2;
}

#keybindsummary {
	border: 1px solid var(--gray);
	border-left: 10vw solid var(--gray);
}

#exportsection {
	border: 1px solid var(--bluey);
	border-left: 10vw solid var(--bluey);
}

#editorcontainer {
	padding-bottom: 50px;
	margin: 2vh 5vw 2vh 5vw;
}

#nav1 {
	background-color: var(--african-violet);
	border-radius: 20px 0 0 20px;
}

#nav2 {
	background-color: var(--bluey);
}

#nav3 {
	background-color: var(--bluey);

}

#nav4 {
	background-color: var(--bluey);
	border-radius: 0 20px 20px 0;
}

.basiccontentcontainer {
	margin: 2vh 2vw 2vh 2vw;
}

.inline-warning {
	border-left: 15px solid var(--mars);
	border-right: 15px solid var(--mars);
	border-radius: 25px;
	font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
	padding: 1vh 1vw 1vh 1vw;
	background-color: rgb(29, 8, 8);
	margin: 1vh auto 1vh;
}

#savedcommandtable {
	width: 100%;
	text-align: left;
}

#bindmodesetter {
	display: grid;
	text-align: left;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

#finalstring {
	background-color: #333;
	border: dotted white 1px;
	margin: 1vh 0 1vh 0;
	padding: 1vh 1vw 1vh 1vw;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

.advice-box {
	border: solid var(--green) 1px;
	background-color: rgb(18, 22, 21);
	border-left-width: 4vw;
	margin: 2vh 0 2vh 0;
	padding: 1vh 1vw 1vh 1vw;
	border-radius: 10px;
}